@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui;
  --font-outfit: var(--font-outfit);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-black/10;
  }
}

.cinematic-mask {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.text-edge-outline {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
